<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELEPHANT ART</title>
    <link rel='stylesheet' href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="/e_store/elephant_girl_favicon.ico">
</head>

<body class="home-body">
    <header class="home-header">
        <div class="title_and_logo">
            <h1 class="website_title"><em>ELEPHANT ART</em></h1>
            
            <img src="https://i.imgur.com/zAXb2g4.gif" alt="elephant girl's logo" width="200px" height="200px" id="page_logo" style="object-fit:cover" >
        </div>
        <div class="page-message">Post your elephant art today!</div>
    
    <nav>
        <a href="/">HOME</a> |
        <a href="/login"> LOGIN</a> |
        <a href="/register"> REGISTER</a> |
        <a href="/artworks"> ARTWORKS</a> |
        <a href="/user/dashboard">DASHBOARD</a>
    </nav>
    </header>
<div class="body_div">



    <div class="homeImages-container">
        <% for (let image of homeImages){ %>
            <div class="individual-homeImage-container">
                <div> <img src="<%= image.image %> " class="homeImages-image"> </div>
                <div><em class="homeImages-title"><%= image.title %></em> </div>
                <div class="homeImages-artist"> by <%= image.artist %></div>
                <div class="homeImages-category"><%= image.category %></div>
                <div class="homeImages-price"> ₦<%= image.price.toLocaleString() %> </div>
                
            </div>
            <% } %>
    </div>



   

</div>
    <footer>
        <h4>Contact Us:</h4>
        <p>Copyright of Kehinde Khourie</p>
        <a href="/test">TEST</a>
    </footer>
</body>


</html>